---
import Github from "../icons/Github.astro"
import type { Projects } from "@/types/projects"
import TechnologyContainer from "./TechnologyContainer.astro"
import Tooltip from "../text/Tooltip.astro"

interface Props extends Projects {}

const { name, description, image, repository, technologies }: Projects = Astro.props
---

<div class="flex flex-col lg:flex-row items-center bg-dark-gray-700 my-4 mx-16 lg:mx-32 p-6 rounded-2xl lg:space-x-10">
    <div>
        <img class="rounded-2xl object-cover w-72 h-36 lg:w-96 md:h-48 " src={image} alt="project-logo">
    </div>
    <div class="space-y-3">
        <h3 class="text-purple-700 font-bold pt-3 lg:pt-0 text-3xl">{name}</h3>
        <p class="font-bold text-xl lg:text-2xl max-w-lg mx-auto">{description}</p>
        <a class="inline-flex p-2 rounded-lg items-center space-x-3 bg-dark-gray-400 hover:bg-dark-gray-800 hover:text-white-700 text-sm font-bold" href={repository} target="_blank"> <Github width={24} height={24}/> Github</a>
    </div>
    <div class="w-56 h-1 my-6 lg:my-0 lg:h-48 lg:w-1 bg-white-700"></div>
    <div class="self-start lg:mt-3 space-y-2 lg:pr-96">
        <h4 class="text-purple-700 font-bold text-3xl">Technologies</h3>
        <div class="grid grid-cols-5 gap-2 items-center">
            {technologies.map(technologies => (
                <div class="relative group">
                    <technologies.logo width="2em" height="2em"/>
                    <Tooltip>{technologies.name}</Tooltip>
                </div>
            ))}
        </div>
    </div>
</div>